RewriteEngine on
RewriteCond %{HTTP_HOST} ^jeu.soprashop.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.jeu.soprashop.com$
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

