{% extends 'base.html.twig' %}

{% block title %}MERCI !{% endblock %}

{% block body %}
<main style="text-align:center">
    <h1 style="color:white">MERCI D'AVOIR PARTICIPÉ !</h1>
    <a style="color:white" target="__blank" href="https://support.bestofboth.world/hc/fr/requests/new">Contacte-nous avec tes identifiants pour bien recevoir ton lot !</a>
</main>
{% endblock %}
